/*
快走
*/
@-webkit-keyframes horse-walk-fast{
  @cell2:-450px;
  0%{
    background-position-x: 0;
  }
  10%{
    background-position-x: @cell2;
  }
  20%{
    background-position-x: @cell2*2;
  }
  30%{
    background-position-x: @cell2*3;
  }
  40%{
    background-position-x: @cell2*4;
  }
  50%{
    background-position-x: @cell2*5;
  }
  60%{
    background-position-x: @cell2*6;
  }
  70%{
    background-position-x: @cell2*7;
  }
  80%{
    background-position-x: @cell2*8;
  }
  90%{
    background-position-x: @cell2*9;
  }
}

/*
快走头像动画
*/
@-webkit-keyframes horse-walkhead-fast{
  0%{
    top:125.15px;
    left: 248.5px; 
    .skew(-5deg,-6deg); 
  }
  10%{
    top:128.35px;
    left: 257.75px; 
    .skew(-6deg,-5deg); 
  }
  20%{
    top:129.1px;
    left: 262.1px; 
    .skew(-6deg,-5deg); 
  }
  30%{
    top:136.55px;
    left: 257px; 
    .skew(-3deg,-8deg); 
  }
  40%{
    top:138.15px;
    left: 243.85px; 
    .skew(0deg,-11deg); 
  }
  50%{
    top:125.2px;
    left: 248.55px; 
    .skew(-5deg,-6deg); 
  }
  60%{
    top:128.35px;
    left: 257.8px; 
    .skew(-6deg,-5deg); 
  }
  70%{
    top:129.1px;
    left: 262.1px; 
    .skew(-7deg,-5deg); 
  }
  80%{
    top:136.55px;
    left: 256.95px; 
    .skew(-3deg,-8deg); 
  }
  90%{
    top:138.15px;
    left: 243.85px; 
    .skew(0deg,-11deg); 
  }
}

#warphorseWalkFast {
  .animate-cell(@w:450px, @h:400px);
  position: relative;
  &>div:first-child{
    .animate-cell(@w:450px, @h:400px);
    background: url("../images/horse-walk-fast.png") repeat-x;
    .animation(horse-walk-fast .6s step-end infinite);
    position: absolute; z-index: 1;
  }
  &>div:last-child{
    .animate-cell(@w:25px,@h:25px);
    position: absolute;
    z-index: 2;
    top:125.15px;
    left: 248.5px; 
    .skew(5deg,-6deg);  
    background: url("../images/head.jpeg") no-repeat;background-size: 100% auto;
   .animation(horse-walkhead-fast .6s step-end infinite);    
  }
}