/*
慢跑
*/
@-webkit-keyframes horse-run-slow{
  0%{
    background-position-x: 0;
  }
  12.5%{
    background-position-x: @cell;
  }
  25%{
    background-position-x: @cell*2;
  }
  37.5%{
    background-position-x: @cell*3;
  }
  50%{
    background-position-x: @cell*4;
  }
  62.5%{
    background-position-x: @cell*5;
  }
  75%{
    background-position-x: @cell*6;
  }
  87.5%{
    background-position-x: @cell*7;
  }
}

/*
慢跑头像动画
*/
@-webkit-keyframes horse-runhead-slow{
  0%{
    top:112.4px;
    left: 252.75px; 
    .skew(3deg,-10deg);
  }
  12.5%{
    top:119.25px;
    left: 252.65px; 
    .skew(3deg,-10deg);
  }
  25%{
    top:127.15px;
    left: 252.7px;
    .skew(3deg,-10deg); 
  }
  37.5%{
    top:126.7px;
    left: 245.55px;
    .skew(3deg,-10deg); 
  }
  50%{
    top:130.7px;
    left: 235.35px;
    .skew(3deg,-10deg);
  }
  62.5%{
    top:138.1px;
    left: 247.4px;
    .skew(-1.2deg,-13.8deg); 
  }
  75%{
    top:136.7px;
    left: 256.9px;
    .skew(3deg,-10deg);
  }
  87.5%{
    top:126.7px;
    left: 255.9px;
    .skew(3deg,-10deg);
  }
}

#warphorseRunSlow {
  .animate-cell(@w:-@cell, @h:418px);
  position: relative;
  &>div:first-child{
    .animate-cell(@w:-@cell, @h:418px);
    background: url("../images/horse-slow.png") repeat-x;
    .animation(horse-run-slow .6s step-end infinite);
    position: absolute; z-index: 1;
  }
  &>div:last-child{
    .animate-cell(@w:25px,@h:25px);
    position: absolute;
    z-index: 2; 
    top:112.4px;
    left: 252.75px; 
    .skew(3deg,-10deg);
    background: url("../images/head.jpeg") no-repeat;background-size: 100% auto;
   .animation(horse-runhead-slow .6s step-end infinite);
  }
}
