
/*
停止
*/
@-webkit-keyframes horse-walk-stop{
  @cell2:-400px;
  0%{
    background-position-x: 0;
  }
  4%{
    background-position-x: @cell2;
  }
  8%{
    background-position-x: @cell2*2;
  }
  12%{
    background-position-x: @cell2*3;
  }
  16%{
    background-position-x: @cell2*4;
  }
  20%{
    background-position-x: @cell2*5;
  }
  24%{
    background-position-x: @cell2*6;
  }
  28%{
    background-position-x: @cell2*7;
  }
  32%{
    background-position-x: @cell2*8;
  }
  36%{
    background-position-x: @cell2*9;
  }
  40%{
    background-position-x: @cell2*10;
  }
  44%{
    background-position-x: @cell2*11;
  }
  48%{
    background-position-x: @cell2*12;
  }
  52%{
    background-position-x: @cell2*12;
  }
  56%{
    background-position-x: @cell2*14;
  }
  60%{
    background-position-x: @cell2*15;
  }
  64%{
    background-position-x: @cell2*16;
  }
  68%{
    background-position-x: @cell2*17;
  }
  72%{
    background-position-x: @cell2*18;
  }
  76%{
    background-position-x: @cell2*19;
  }
  80%{
    background-position-x: @cell2*20;
  }
  84%{
    background-position-x: @cell2*21;
  }
  88%{
    background-position-x: @cell2*22;
  }
  92%{
    background-position-x: @cell2*23;
  }
  96%{
    background-position-x: @cell2*24;
  }
}

/*
快跑头像动画
*/
@-webkit-keyframes horse-walkhead-stop{
  0%{
    top: 138.2px;
    .skew(-5deg,-6deg);
  }
  4%{
    top: 138.25px;
    .skew(-5deg,-6deg);
  }
  8%{
    top: 138.3px;
    .skew(-5deg,-6deg);
  }
  12%{
    top: 138.5px;
    .skew(-5deg,-6deg);
  }
  16%{
    top: 138.75px;
    .skew(-5deg,-6deg);
  }
  20%{
    top: 139.25px;
    .skew(-5deg,-6deg);
  }
  24%{
    top: 139.7px;
    .skew(-5deg,-6deg);
  }
  28%{
    top: 140.15px;
    .skew(-5deg,-6deg);
  }
  32%{
    top: 140.5px;
    .skew(-5deg,-6deg);
  }
  36%{
    top: 140.7px;
    .skew(-5deg,-6deg);
  }
  40%{
    top: 140.85px;
    .skew(-5deg,-6deg);
  }
  44%{
    top: 140.9px;
    .skew(-5deg,-6deg);
  }
  48%{
    top: 140.85px;
    .skew(-5deg,-6deg);
  }
  52%{
    top: 140.8px;
    .skew(-5deg,-6deg);
  }
  56%{
    top: 140.7px;
    .skew(-5deg,-6deg);
  }
  60%{
    top: 140.5px;
    .skew(-5deg,-6deg);
  }
  64%{
    top: 140.25px;
    .skew(-5deg,-6deg);
  }
  68%{
    top: 139.85px;
    .skew(-5deg,-6deg);
  }
  72%{
    top: 139.45px;
    .skew(-5deg,-6deg);
  }
  76%{
    top: 139px;
    .skew(-5deg,-6deg);
  }
  80%{
    top: 138.7px;
    .skew(-5deg,-6deg);
  }
  84%{
    top: 138.45px;
    .skew(-5deg,-6deg);
  }
  88%{
    top: 138.3px;
    .skew(-5deg,-6deg);
  }
  92%{
    top: 138.2px;
    .skew(-5deg,-6deg);
  }
  96%{
    top: 138.2px;
    .skew(-5deg,-6deg);
  }
}

#warphorseWalkStop {
  .animate-cell(@w:400px,@h:410px);
  position: relative;
  &>div:first-child{
    .animate-cell(@w:400px, @h:410px);
    background: url("../images/horse-walk-stop.png") repeat-x;
    .animation(horse-walk-stop 1.5s step-end infinite);
    position: absolute;z-index:1;
  }
  &>div:last-child{
    .animate-cell(@w:25px,@h:25px);
    position: absolute;
    z-index: 2;
    top: 138.2px;
    left:254px;
    .skew(-5deg,-6deg);
    background: url("../images/head.jpeg") no-repeat;background-size: 100% auto;
    .animation(horse-walkhead-stop 1.5s step-end infinite);
  }
}