/*
  快跑
*/
@-webkit-keyframes horse-run-fast{
  0%{
    background-position-x: 0;
  }
  20%{
    background-position-x: @cell;
  }
  40%{
    background-position-x: @cell*2;
  }
  60%{
    background-position-x: @cell*3;
  }
  80%{
    background-position-x: @cell*4;
  }
}


/*
快跑头像动画
*/
@-webkit-keyframes horse-runhead-fast{
  0%{
    top:121.85px;
    left: 272.9px;
    .rotate(12.7deg);
    .skew(-20deg,4deg);
  }
  20%{
    top:126.65px;
    left: 268.05px;
    .rotate(12.7deg);
    .skew(-20deg,4deg);
  }
  40%{
    top:126.1px;
    left: 252.55px;
    .rotate(14deg);
    .skew(-20deg,6deg);
  } 
  60%{
    top:125.75px;
    left: 271.05px;
    .rotate(12.7deg);
    .skew(-20deg,4deg);
  }
  80%{
    top:122.15px;
    left: 279.2px;
    .rotate(16.4deg);
    .skew(-20deg,4deg);
  }
}


#warphorseRunFast {
  .animate-cell;
  position: relative;
  &>div:first-child{
    .animate-cell;
    background: url("../images/horse-fast.png") repeat-x;
    .animation(horse-run-fast 3s step-end infinite);
    position: absolute; z-index: 1;  

  }
  &>div:last-child{
    .animate-cell(@w:25px,@h:25px);
    position: absolute;
    z-index: 2; 
    top:121.85px;
    left: 272.9px;
    .rotate(12.7deg);
    .skew(-20deg,4deg);
    background: url("../images/head.jpeg") no-repeat;background-size: 100% auto;
   .animation(horse-runhead-fast 3s step-end infinite);
    
  }
}