@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";


@cell:-449px;
.animate-cell(@w:-@cell, @h:378px){
  .size(@w, @h);
}

@import "horse-run-fast.less";
@import "horse-run-slow.less";
@import "horse-walk-fast.less";
@import "horse-walk-slow.less";
@import "monster-yellow.less";
@import "monster-green.less";

body{
  background: url("../images/body_bg.jpg") no-repeat center;
}
.main-scene{
  background: url("../images/background.png") 100% center;
  height:500px;
  .transition(background-position .2s ease-out); 
  &>div:first-child{
    top:160px;
    
    left:50%;
    margin-left:-200px;

  }
}

#timeCount {
  float:right;

}
#count {
  float:right;
}

#startButton{
  .square(100px);
  .center-block;
  font-size:100px;
}
