/*
  黄毛怪
*/
#warphorseMonsterGreen {
  .animate-cell(@w:150px,@h:220px);
  position: absolute;
   &>div:first-child{ 
    .animate-cell(@w:150px,@h:220px);
    background: url("../images/monster-yellow.png") repeat-x;
    .animation(monster-yellow .6s step-end infinite);
   }
   &>div:last-child {
    .animate-cell(@w:70px,@h:120px);
    position: absolute;
    z-index: 3; 
    top:51.6px;
    left: 111.65px; 
    .rotate(0deg);
    .animation(monster-yellowHead .6s step-end infinite);
   }
}
@-webkit-keyframes monster-yellow{
  @cell2:-150px;
  0%{
    background-position-x: 0;
  }
  11.1%{
    background-position-x: @cell2;
  }
  22.2%{
    background-position-x: @cell2*2;
  }
  33.3%{
    background-position-x: @cell2*3;
  }
  44.4%{
    background-position-x: @cell2*4;
  }
   55.5%{
    background-position-x: @cell2*5;
  }
   66.6%{
    background-position-x: @cell2*6;
  }
   77.7%{
    background-position-x: @cell2*7;
  }
  88.8%{
    background-position-x: @cell2*8;
  }
}

@-webkit-keyframes monster-yellowHead{
    0%{
    top:51.6px;
    left: 111.65px; 
    .rotate(0deg);
  }
  11.1%{
    top:55px;
    left: 95.25px; 
    .rotate(-5.8deg);
  }
  22.2%{
    top:80.65px;
    left: 32.05px; 
    .rotate(-30.3deg);
  } 
  33.3%{
    top:92.15px;
    left: 13.75px; 
    .rotate(-37.8deg);
  }
  44.4%{
    top:86.85px;
    left: 17.1px; 
    .rotate(-36.5deg);
  }
  55.6%{
    top:72.25px;
    left: 35.8px; 
    .rotate(-28deg);
  }
  66.7%{
   top:54.25px;
    left: 78.6px;
    .rotate(-10.8deg); 
  }
  77.8%{
   top:48.45px;
    left: 106.05px;
    .rotate(-1.8deg); 
  }
  88.9%{
    top:47.7px;
    left:111.65px;
    .rotate(0deg);
  }
}