#warphorseMonsterGreen {
  .animate-cell(@w:257px,@h:264px);
  position: relative;
}
/*
慢走
*/
@-webkit-keyframes monster-green{
  @cell2:-257px;
  0%{
    background-position-x: 0;
  }
  11.1%{
    background-position-x: @cell2;
  }
  22.2%{
    background-position-x: @cell2*2;
  }
  33.3%{
    background-position-x: @cell2*3;
  }
  44.4%{
    background-position-x: @cell2*4;
  }
  55.6%{
    background-position-x: @cell2*5;
  }
   66.7%{
    background-position-x: @cell2*6;
  }
  77.8%{
    background-position-x: @cell2*7;
  }
  88.9%{
    background-position-x: @cell2*8;
  }
}

#monsterGreen{
  .animate-cell(@w:257px, @h:264px);
  background: url("../images/monster-green.png") repeat-x;
  .animation(monster-green .6s step-end infinite);
  position: absolute;z-index:2;
}

/*
慢走头像动画
*/
@-webkit-keyframes monster-greenHead{
  0%{
    top: 64.1px;
    left: 133.6px;
    .rotate(16.3deg);
  }
  11.1%{
    top:60.75px;
    left: 119.85px; 
    .rotate(6.8deg);
  }
  22.2%{
    top:  63.7px;
    left: 80px; 
    .rotate(-21deg);
  } 
  33.3%{
    top: 65px;
    left: 64px; 
    .rotate(-33deg);
  }
  44.4%{
    top: 63px;
    left: 68px; 
    .rotate(-34.9deg);
  }
  55.6%{
    top: 60px;
    left: 80px; 
    .rotate(-30deg);
  }
  66.7%{
    top:54.65px;
    left: 106.95px; 
    .rotate(-8.1deg);
  }
  77.8%{
   top:57.35px;
    left: 125.15px;
    .rotate(8.1deg); 
  }
  88.9%{
    top:55.1px;
    left:132px;
    .rotate(16deg);
  }
}

#monsterGreenHead {
  .animate-cell(@w:50px,@h:50px);
  position: absolute;
  z-index: 1; 
  top: 64.1px;
  left: 133.6px;
  .rotate(16.3deg);
  background: url("../images/head.jpg") no-repeat;background-size: 100% auto;
  .animation(monster-greenHead .6s step-end infinite);
}