#warphorseMonsterGreen {
  .animate-cell(@w:257px,@h:264px);
  position: relative;
}
/*
慢走
*/
@-webkit-keyframes monster-green{
  @cell2:-257px;
  0%{
    background-position-x: 0;
  }
  11.1%{
    background-position-x: @cell2;
  }
  22.2%{
    background-position-x: @cell2*2;
  }
  33.3%{
    background-position-x: @cell2*3;
  }
  44.4%{
    background-position-x: @cell2*4;
  }
  55.6%{
    background-position-x: @cell2*5;
  }
   66.7%{
    background-position-x: @cell2*6;
  }
  77.8%{
    background-position-x: @cell2*7;
  }
  88.9%{
    background-position-x: @cell2*8;
  }
}

#monsterGreen{
  .animate-cell(@w:257px, @h:264px);
  background: url("../images/monster-green.png") repeat-x;
  .animation(monster-green 0.6s step-end infinite);
  position: absolute;z-index:2;
}

/*
慢走头像动画
*/
@-webkit-keyframes monster-greenHead{
  0%{
    top:61.95px;
    left: 138.5px; 
    -webkit-transform:rotate(16.3deg);
  }
  11.1%{
    top:63.4px;

    left: 122.75px; 
    -webkit-transform:rotate(6.8deg);
  }
  22.2%{
    top:75px;
    left: 71.85px; 
    -webkit-transform:rotate(-21deg);
  } 
  33.3%{
    top:83.85px;
    left: 55.4px; 
    -webkit-transform:rotate(-33deg);
  }
  44.4%{
    top:85.25px;
    left: 57.4px; 
    -webkit-transform:rotate(-34.9deg);
  }
  55.6%{
    top:81.85px;
    left: 69.9px; 
    -webkit-transform:rotate(-30deg);
  }
  66.7%{
    top:69.3px;
    left: 104px; 
    -webkit-transform:rotate(-8deg);
  }
  77.8%{
   top:64.05px;
    left: 128.85px;
    -webkit-transform:rotate(8deg); 
  }
  88.9%{
    top:61.8px;
    left:138.1px;
    -webkit-transform:rotate(16deg);
  }
}

#monsterGreenHead {
  .animate-cell(@w:50px,@h:50px);

  -webkit-transform:rotate(16.3deg);
  position: absolute;
  z-index: 1; 
  top:61.95px;
  left: 138.5px;  
  background: url("../images/head.jpg") no-repeat;background-size: 100% auto;
 .animation(monster-greenHead 0.6s step-end infinite);
}